.custom-container {
  padding: 200px 40px 200px 40px;

  .content-details {
    text-align: justify;
    text-justify: inter-word;
  }
  .box {
    transition: 0.8s all;
    cursor: pointer;
  }
  .box:hover {
    transform: scale(0.95);
  }
}

.modal {
  z-index: 999 !important;
}