<div class="container">
  <div class="custom-container">
    <div class="modal" [class.is-active]="isActive">
      <div class="modal-background"></div>
      <div class="modal-card">
        <div class="modal-content">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{modalTitle}}</p>
                </div>
              </div>
              <div class="content">
                {{modalBody}}
              </div>
            </div>
          </div>
        </div>
        <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent" *ngFor="let topnews of fakenews | slice:0:3">
        <article class="tile is-child box">
          <h5 class="is-size-5 has-text-weight-bold">{{topnews.title}}</h5><br>
          <div class="content">
            <p class="content-details">{{topnews.body}}</p>
          </div>
          <a class="button is-primary modal-open" (click)="openModal(topnews)">Read more</a>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent" *ngFor="let topnews of fakenews | slice:4:7">
        <article class="tile is-child box">
          <h5 class="is-size-5 has-text-weight-bold">{{topnews.title}}</h5><br>
          <div class="content">
            <p class="content-details">{{topnews.body}}</p>
          </div>
          <a class="button is-primary" (click)="toggleModal(topnews)">Read More</a>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent" *ngFor="let topnews of fakenews | slice:8:11">
        <article class="tile is-child box">
          <h5 class="is-size-5 has-text-weight-bold">{{topnews.title}}</h5><br>
          <div class="content">
            <p class="content-details">{{topnews.body}}</p>
          </div>
          <a class="button is-primary" (click)="toggleModal(topnews)">Read more</a>
        </article>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent" *ngFor="let topnews of fakenews | slice:12:15">
        <article class="tile is-child box">
          <h5 class="is-size-5 has-text-weight-bold">{{topnews.title}}</h5><br>
          <div class="content">
            <p class="content-details">{{topnews.body}}</p>
          </div>
          <a class="button is-primary" (click)="toggleModal(topnews)">Read More</a>
        </article>
      </div>
    </div>
  </div>
</div>