@import '../../sass/_variables';

.main-navbar-container {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: $light-grey;
    height: 90px;
    width: 100%;
    box-shadow: 0 -5px 35px -5px;
    -moz-box-shadow: 0 -5px 35px -5px;
    -webkit-box-shadow: 0 -5px 35px -5px;

    .navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
          cursor: pointer;
        }
    }
}